<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>shortURL generator</title>
  <link rel="stylesheet" href="/stylesheets/customized.css">
</head>

<body>
  <h2>URL Shortener</h2>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" />
  {{!-- 抽換成其他的 partial templates HTML 內容 --}}
  {{{ body }}}

</body>

</html>